<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Restaurant Website</h1>

    <h2>Restaurants</h2>
    <ul id="restaurant-list"></ul>
    <script>
        const restaurantList = document.getElementById('restaurant-list')

        fetch('/getRestaurants')
            .then(response => response.json())
            .then(proccessData)

        function deleteRestaurant(id){
            fetch(`deleteRestaurant/${id}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (!response.ok) throw new Error('Failed to delete')
                return response.json()
            })
            .then(deleted => {
                console.log('Deleted:', deleted)
                return fetch('/getRestaurants')
                    .then(res => res.json())
                    .then(proccessData)
            })
            .catch(err => console.error(err))
        }

        function proccessData(data) {
            console.log(data)
            restaurantList.innerHTML = ""
            data.restaurants.forEach(restaurant => {
                let li = document.createElement('li')
                li.innerText=`${restaurant.name}`
                let deleteBtn = document.createElement('button')
                deleteBtn.innerText = "Delete"
                deleteBtn.onclick = () => {
                    deleteRestaurant(restaurant.id)
                }
                li.appendChild(deleteBtn)
                restaurantList.appendChild(li)
            })
        }
    </script>
</body>

</html>