#menu-list{
    list-style: none;
    padding: 10px;
}

#menu-list li{
    display: flex;
    gap: 50%;
    align-items: center;
    padding: 6px 50px;
}

.delete-btn {
    background-color: red;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 0;
}